In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [2]:
# iris 데이터 불러오기
iris =  sns.load_dataset('iris')
X= iris.iloc[:,:4]
y = iris.iloc[:,-1]

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [7]:
# target(species 3종류) one hot encoding
y = pd.get_dummies(y)
y

     setosa  versicolor  virginica
0         1           0          0
1         1           0          0
2         1           0          0
3         1           0          0
4         1           0          0
..      ...         ...        ...
145       0           0          1
146       0           0          1
147       0           0          1
148       0           0          1
149       0           0          1

[150 rows x 3 columns]

In [3]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=48)

In [9]:
scale = StandardScaler()
X_train_std = scale.fit_transform(X_train)
X_test_std =  scale.transform(X_test)

In [10]:
# One Versus Rest 
svm_1 = SVC(kernel ='rbf', gamma = 5, C = 100)
svm_2 = SVC(kernel ='rbf', gamma = 5, C = 100)
svm_3 = SVC(kernel ='rbf', gamma = 5, C = 100)

In [11]:
svm_1.fit(X_train,y_train.iloc[:,0])
svm_2.fit(X_train,y_train.iloc[:,1])
svm_3.fit(X_train,y_train.iloc[:,2])
print(svm_1.decision_function(X_test)) #decision_function hyperplane과의 거리!

[-1.07872988 -0.87731636 -0.68506474 -0.44615122 -0.9280679  -1.00677206
  1.21770553 -0.99171648  1.2850692  -1.11652284 -0.9760139   0.40117003
  0.55431336 -1.00153582 -0.88740789 -0.93708747  1.31794592 -0.70019216
 -1.02971988 -0.99955526  0.68763362 -1.05349011 -0.96784436 -1.06779326
 -0.80970007  1.1724782   0.6052734  -1.03360569 -0.94706566 -1.00892268]