In [167]:
import random
class MyDataLoader:
    def __init__(self, data1, data2):
        # data1과 data2 크기는 같다고 가정합시다
        self.size = len(data1) 
        self.data1 = data1
        self.data2 = data2
        ###### BLANK ####
    # __iter__에서는 나를 반환해주고 __next__에서는 for loop가
    # 돌떄마다 인쇄하고 싶은 값을 리턴합니다.
    def __iter__(self): 
        self.index = 0
        return self
    
    def __next__(self):
        if self.index >= self.size:
            raise StopIteration
       
        n = self.data1[self.index] + self.data2[self.index]
        self.index += 1
        return n
        
    def shuffle(self):
        random.shuffle(self.data1)
        random.shuffle(self.data2)
        print(self.data1[:5])
        print(self.data2[:5])
        
    def make_square(self):
        self.data1 = [x ** 2 for x in self.data1]
        self.data2 = [x ** 2 for x in self.data2]
        print(self.data1[:5])
        print(self.data2[:5])

In [163]:
# data1과 data2 크기는 같다고 가정합시다
loader = MyDataLoader([i for i in range(300)], [i for i in range(300)])
loader.make_square() ## data1과 data2를 제곱할 수 있는 method를 완성해주세요!
loader.shuffle()

[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16]
[88804, 7225, 7921, 63504, 2916]
[10816, 51984, 34596, 88209, 169]

In [171]:
for i, x in enumerate(loader): # for loop 가 도니까 __iter__
    print("{} : {}".format(i,x)) # i번째 data1과 data2를 더한 값을 리턴하도록 만들어주세요!

0 : 72722
1 : 19764
2 : 10469
3 : 82114
4 : 41845
5 : 84829
6 : 59425
7 : 25649
8 : 90340
9 : 13730
10 : 99625
11 : 82829
12 : 80665
13 : 28660
14 : 69885
15 : 68561
16 : 42737
17 : 20992
18 : 106228
19 : 66105
20 : 8885
21 : 75661
22 : 55072
23 : 110420
24 : 71065
25 : 22930
26 : 61828
27 : 40329
28 : 34285
29 : 73882
30 : 46925
31 : 81322
32 : 63082
33 : 124461
34 : 19610
35 : 91061
36 : 118117
37 : 79565
38 : 55250
39 : 14004
40 : 69017
41 : 45853
42 : 34457
43 : 1025
44 : 82909
45 : 90837
46 : 25538
47 : 120730
48 : 36306
49 : 40100
50 : 103517
51 : 141109
52 : 49010
53 : 22834
54 : 1945
55 : 70445
56 : 6970
57 : 83450
58 : 16180
59 : 27757
60 : 13042
61 : 16218
62 : 69858
63 : 50593
64 : 8324
65 : 55952
66 : 137201
67 : 41953
68 : 35570
69 : 135781
70 : 20164
71 : 88450
72 : 119444
73 : 35009
74 : 49205
75 : 60916
76 : 68042
77 : 58385
78 : 62024
79 : 62740
80 : 92962
81 : 27976
82 : 43165
83 : 101645
84 : 152165
85 : 34340
86 : 48953
87 : 42865
88 : 21625
89 : 103685
90 : 46889
91 : 49025
92 : 3026
93 : 69269
94 : 53794
95 : 22736
96 : 3908
97 : 44573
98 : 77705
99 : 70381
100 : 118093
101 : 29320
102 : 66980
103 : 43297
104 : 109001
105 : 64114
106 : 105445
107 : 131920
108 : 8212
109 : 39752
110 : 27850
111 : 34225
112 : 78377
113 : 65925
114 : 36173
115 : 66868
116 : 5108
117 : 98953
118 : 105841
119 : 36821
120 : 50297
121 : 41530
122 : 114829
123 : 89413
124 : 3177
125 : 56066
126 : 62105
127 : 47297
128 : 35137
129 : 42961
130 : 33300
131 : 98449
132 : 39794
133 : 113357
134 : 76453
135 : 22313
136 : 86432
137 : 76249
138 : 107593
139 : 20605
140 : 108545
141 : 56869
142 : 75925
143 : 105269
144 : 84794
145 : 61729
146 : 104917
147 : 64324
148 : 96980
149 : 101186
150 : 30122
151 : 857
152 : 11273
153 : 27677
154 : 85810
155 : 81469
156 : 156245
157 : 50425
158 : 12725
159 : 58545
160 : 102484
161 : 46661
162 : 70065
163 : 65561
164 : 77090
165 : 86453
166 : 45652
167 : 84685
168 : 226
169 : 6385
170 : 25065
171 : 101025
172 : 27586
173 : 114725
174 : 72148
175 : 102170
176 : 60505
177 : 61394
178 : 14578
179 : 99074
180 : 90593
181 : 3994
182 : 82369
183 : 84197
184 : 51505
185 : 23060
186 : 59245
187 : 63562
188 : 40898
189 : 78625
190 : 85410
191 : 48586
192 : 51922
193 : 53450
194 : 110032
195 : 27293
196 : 5450
197 : 97121
198 : 45845
199 : 79973
200 : 37876
201 : 24466
202 : 62530
203 : 18721
204 : 6025
205 : 67769
206 : 40930
207 : 83540
208 : 39013
209 : 63445
210 : 139442
211 : 100132
212 : 28530
213 : 110084
214 : 96912
215 : 13364
216 : 58181
217 : 54202
218 : 25092
219 : 96237
220 : 42292
221 : 89480
222 : 43720
223 : 53285
224 : 59348
225 : 70628
226 : 71293
227 : 81185
228 : 84529
229 : 80665
230 : 76309
231 : 9873
232 : 94580
233 : 67730
234 : 99037
235 : 14984
236 : 38321
237 : 159440
238 : 4212
239 : 47965
240 : 61706
241 : 34501
242 : 3524
243 : 22525
244 : 3445
245 : 105274
246 : 65546
247 : 12674
248 : 65105
249 : 133156
250 : 110305
251 : 124970
252 : 12850
253 : 360
254 : 88740
255 : 13568
256 : 89693
257 : 40777
258 : 26210
259 : 25477
260 : 55673
261 : 122653
262 : 33218
263 : 103428
264 : 70489
265 : 114170
266 : 129285
267 : 93109
268 : 27009
269 : 63029
270 : 27101
271 : 60224
272 : 12717
273 : 67048
274 : 30605
275 : 31642
276 : 34901
277 : 56372
278 : 65413
279 : 12116
280 : 793
281 : 2644
282 : 34340
283 : 57037
284 : 3114
285 : 1769
286 : 36721
287 : 95625
288 : 133209
289 : 51994
290 : 61892
291 : 3505
292 : 114634
293 : 83732
294 : 36308
295 : 40730
296 : 104488
297 : 56993
298 : 141905
299 : 46237

In [14]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def sleep(self):
        print(self.name, '은(는) 잠을 잡니다')
        
a = Person('joe', 50)

In [15]:
print(a)
a.name, a.age

<__main__.Person object at 0x7fc9dcab4450>

('joe', 50)

In [20]:
a.sleep()

joe 은(는) 잠을 잡니다

In [40]:
class Counter:
    def __init__(self, num):
        self.num = num
    
    def increment(self):
        self.num += 1

    def reset(self):
        self.num = 0
    
    def current_value(self):
        print(self.num)

In [41]:
c1 = Counter(50)
c1.num

50

In [50]:
c1.increment()

In [51]:
c1.current_value()

54

In [52]:
c1.reset()

In [53]:
c1.current_value()

0

In [68]:
class ComplexNum:
    def __init__(self, real, img):
        self.real = real
        self.img = img
    
    def __str__(self):
        if self.img > 0:
            return '{} + {}j'.format(self.real, self.img)
        else:
            return '{} - {}j'.format(self.real, abs(self.img))

    def __add__(self, cn):
        return ComplexNum(self.real + cn.real, self.img + cn.img)
    
    def __sub__(self, cn):
        return ComplexNum(self.real - cn.real, self.img - cn.img)
    
    def __mul__(self, x):
        if type(x) == int:
            return ComplexNum(self.real * x, self.img *x)
        elif type(x) == ComplexNum:
            return ComplexNum(self.real * x.real - self.img * x.img, self.real * x.img + self.img * x.real)
        
    def __eq__(self, cn):
        return self.real == cn.real and self.img == cn.img
    
    def __ne__(self, cn):
        return not (self.real == cn.real and self.img == cn.img)
    
a = ComplexNum(1, 2)
b = ComplexNum(3, 2)
print(a - b)
print(a * 3)
print(a * b)

-2 - 0j
3 + 6j
-1 + 8j

In [69]:
a == b

False

In [70]:
a != b

True

In [73]:
logs = ["dig1 8 1 5 1","let1 art can","dig2 3 6","let2 own kit dig","let3 art zero"]

In [77]:
l_log = []; d_log = []
for args in map(lambda x : x.split(), logs):
    if (''.join(args[1:])).isnumeric():
        d_log.append(args)
    else:
        l_log.append(args)

In [80]:
logs

['dig1 8 1 5 1',
 'let1 art can',
 'dig2 3 6',
 'let2 own kit dig',
 'let3 art zero']

In [78]:
d_log

[['dig1', '8', '1', '5', '1'], ['dig2', '3', '6']]

In [79]:
l_log

[['let1', 'art', 'can'],
 ['let2', 'own', 'kit', 'dig'],
 ['let3', 'art', 'zero']]

In [83]:
l_log = []; d_log = []
for args in logs:
    if args.split()[1].isnumeric():
        d_log.append(args)
    else:
        l_log.append(args)

In [84]:
d_log

['dig1 8 1 5 1', 'dig2 3 6']

In [122]:
nums = [5, 3, 2, 3,5]
target = 10

In [125]:
dic = {i : n for i, n in enumerate(nums)}

In [126]:
dic

{0: 5, 1: 3, 2: 2, 3: 3, 4: 5}

In [134]:
dic.values()

dict_values([5, 3, 2, 3, 5])

In [128]:
nums

[5, 3, 2, 3, 5]

In [131]:
for n in map(lambda x : target - x, nums):
    if n in dic.keys() &

5
7
8
7
5

In [127]:
for i in range(len(nums)):
    if (target - nums[i] in nums) & (dic[i] != target - nums[i]):
        print(i)

In [115]:
nums

[3, 3, 2, 3]

In [119]:
nums_map = {}
# 키와 값을 바꿔서 사전 형태로 저장
for i, num in enumerate(nums):
    nums_map[num] = i

# 타겟에서 첫 번째 수를 뺀 결과를 키로 조회
for i, num in enumerate(nums):
    if target - num in nums_map and i != nums_map[target-num]:
        print(i, nums_map[target-num])

0 4

In [120]:
nums_map

{5: 4, 3: 3, 2: 2}

In [136]:
q = ['a', 'b', 'c', 'd', 'c', 'd', None]

In [142]:
import numpy as np

In [145]:
import pandas as pd
pd.Series(q).unique()

array(['a', 'b', 'c', 'd', None], dtype=object)

In [146]:
pd.Series(q).nunique()

4

In [150]:
name = input().split(' ')

 Sugar Jewel Meo Harley Gia Peanutbutter Bj Tux Ariel Kia Sammy Faith Shadow Elijah Queens Puppy Happy Fuzzo Simba Baby Bear Stitch *Morado Girly Girl Honey Goofy Hugo Diablo Minnie Miller Cookie Woody Stormy Sniket Emily Katie Greg Ceballo Sailor April Ella Rosie Dash Mama Dog Dora Lucy Frijolito Lyla Zoe Mercedes Disciple Pickle Scooby Laika Ruby Pepper Cherokee Maxwell 2 Princess Oreo Finney Jj Jedi Clyde Giovanni Tiko Punch Goldie Dakota Spider Blaze Holly Rome Nellie Penny Skips Chip Snickerdoodl Rogan Raven Charlie Lucy Jack Reggie Lucy Anna Kaila Sabrina Jake Lizzie Stanley Chewy Raven Mitty Jimminee *Sam Jackie Benji Shelly Rocky

In [155]:
pd.Series(name).nunique()

100

In [158]:
from itertools import permutations

In [218]:
numbers = '17'
numbers = list(numbers)

In [219]:
nums = []

In [220]:
[nums.extend(list(permutations(numbers, i+1))) for i in range(len(numbers))]

[None, None]

In [221]:
nums

[('1',), ('7',), ('1', '7'), ('7', '1')]

In [211]:
answer = 0
for n in map(lambda x : int(''.join(x)), possible):
    print(n)
    if n == 2 or n == 3:
        answer += 1
    for i in range(2, n+1):
        if n % i == 0:
            if n == i:
                answer += 1
        else:
            if n == i:
                answer += 1

1
7
17
71

In [215]:
nums

[[('1',), ('7',)], [('1', '7'), ('7', '1')]]

In [214]:
list(map(lambda x : int(''.join(x)), nums))

TypeError: sequence item 0: expected str instance, tuple found

In [213]:
for n in list(map(lambda x : int(''.join(x)), nums)):
    print(n)

TypeError: sequence item 0: expected str instance, tuple found

In [245]:
answer = 0
numbers = '17'
nums = []
numbers = list(numbers)
[nums.extend(list(permutations(numbers, i+1))) for i in range(len(numbers))]

for n in set(list(map(lambda x : int(''.join(x)), nums))):
    if n == 2 or n == 3:
        answer += 1
    for i in range(2, int(n / 2) + 1):
        print(n,i)
        if n % i == 0:
            break
        else:
            if int(n / 2) == i:
                answer += 1

71 2
71 3
71 4
71 5
71 6
71 7
71 8
71 9
71 10
71 11
71 12
71 13
71 14
71 15
71 16
71 17
71 18
71 19
71 20
71 21
71 22
71 23
71 24
71 25
71 26
71 27
71 28
71 29
71 30
71 31
71 32
71 33
71 34
71 35
17 2
17 3
17 4
17 5
17 6
17 7
17 8
7 2
7 3

In [246]:
answer

3