In [1]:
import pandas as pd 
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
df.drop("RID",axis=1, inplace = True) #RID는 그냥 Index라서 삭제

In [2]:
df

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

## 함수 만들기

In [3]:
df[df['age'] == df['age'].unique()[0]]

      age  income student credit_rating class_buys_computer
0   youth    high      no          fair                  no
1   youth    high      no     excellent                  no
7   youth  medium      no          fair                  no
8   youth     low     yes          fair                 yes
10  youth  medium     yes     excellent                 yes

In [25]:
import math

In [27]:
def getEntropy(df, feature) :
    entropy = 0
    n = len(df)
    column = df[feature]         
    column_c = df[feature].unique()  
    
    for c in column_c: 
        cn = len(column.loc[column == c]) / n
        entropy -= cn * math.log(cn, 2)
        
    return(entropy)

In [28]:
getEntropy(df, 'class_buys_computer')

0.9402859586706309

In [4]:
getEntropy(df, "class_buys_computer")

0.9402859586706311

In [29]:
asp = list(df.loc[:, df.columns != 'age'])
for a in asp:
    print(a)

income
student
credit_rating
class_buys_computer

In [30]:
feature = 'class_buys_computer'

In [36]:
df.loc[df['age'] == df['age'].unique()[0]]

      age  income student credit_rating class_buys_computer
0   youth    high      no          fair                  no
1   youth    high      no     excellent                  no
7   youth  medium      no          fair                  no
8   youth     low     yes          fair                 yes
10  youth  medium     yes     excellent                 yes

In [43]:
df.loc[df['age'] == df['age'].unique()[0], feature] == 'yes'

0     False
1     False
7     False
8      True
10     True
Name: class_buys_computer, dtype: bool

In [55]:
def getGainA(df, feature) :
    info_D = getEntropy(df, feature) # 목표변수 Feature에 대한 Info(Entropy)를 구한다.
    columns = list(df.loc[:, df.columns != feature]) # 목표변수를 제외한 나머지 설명변수들을 리스트 형태로 저장한다.
    gains = []
    n = len(df) # 전체 데이터 개수
    yc = df[feature].unique() # y(feature) 의 class (yes/no)

    for c in columns: # 변수 차례로
        ccn = len(df[c].unique()) # 변수가 가지는 class의 개수
        c_label = df[c].unique() # 변수가 가지는 class의 개수
        info_cD = 0 # 변수의 info
        
        for l in c_label: # 변수가 가지는 class를 차례로
            value = 0
            lln = len(df.loc[df[c] == l]) # 변수가 가지는 class에 해당하는 데이터 개수
            
            for y in yc: # feature(label)의 class 개수를 차례로
                cln = sum(df.loc[df[c] == l, feature] == y) / lln
                if cln == 0:
                    value -= 0
                else:
                    value -= cln * math.log(cln, 2)
                
            info_cD += (lln / n) * value
            
        gain = info_D - info_cD
        gains.append(gain)
            
    result = dict(zip(columns,gains)) # 각 변수에 대한 Information Gain 을 Dictionary 형태로 저장한다.
    return(result)

In [56]:
getGainA(df, "class_buys_computer")

{'age': 0.2467498197744391,
 'income': 0.029222565658954647,
 'student': 0.15183550136234136,
 'credit_rating': 0.04812703040826927}

In [6]:
getGainA(dfa, "class_buys_computer")

{'age': 0.24674981977443933,
 'income': 0.02922256565895487,
 'student': 0.15183550136234159,
 'credit_rating': 0.04812703040826949}

## 결과 확인하기

In [57]:
my_dict = getGainA(df, "class_buys_computer")
def f1(x):
    return my_dict[x]
key_max = max(my_dict.keys(), key=f1)
print('정보 획득이 가장 높은 변수는',key_max, "이며 정보 획득량은", my_dict[key_max], "이다.")

정보 획득이 가장 높은 변수는 age 이며 정보 획득량은 0.2467498197744391 이다.

In [7]:
my_dict = getGainA(df, "class_buys_computer")
def f1(x):
    return my_dict[x]
key_max = max(my_dict.keys(), key=f1)
print('정보 획득이 가장 높은 변수는',key_max, "이며 정보 획득량은", my_dict[key_max], "이다.")

정보 획득이 가장 높은 변수는 age 이며 정보 획득량은 0.24674981977443933 이다.